doc/chap0.html
doc/chap0.txt
doc/chap0_mj.html
doc/chap1.html
doc/chap1.txt
doc/chap10.html
doc/chap10.txt
doc/chap10_mj.html
doc/chap11.html
doc/chap11.txt
doc/chap11_mj.html
doc/chap12.html
doc/chap12.txt
doc/chap12_mj.html
doc/chap13.html
doc/chap13.txt
doc/chap13_mj.html
doc/chap14.html
doc/chap14.txt
doc/chap14_mj.html
doc/chap1_mj.html
doc/chap2.html
doc/chap2.txt
doc/chap2_mj.html
doc/chap3.html
doc/chap3.txt
doc/chap3_mj.html
doc/chap4.html
doc/chap4.txt
doc/chap4_mj.html
doc/chap5.html
doc/chap5.txt
doc/chap5_mj.html
doc/chap6.html
doc/chap6.txt
doc/chap6_mj.html
doc/chap7.html
doc/chap7.txt
doc/chap7_mj.html
doc/chap8.html
doc/chap8.txt
doc/chap8_mj.html
doc/chap9.html
doc/chap9.txt
doc/chap9_mj.html
doc/chapA.html
doc/chapA.txt
doc/chapA_mj.html
doc/chapB.html
doc/chapB.txt
doc/chapB_mj.html
doc/chapBib.html
doc/chapBib.txt
doc/chapBib_mj.html
doc/chapC.html
doc/chapC.txt
doc/chapC_mj.html
doc/chapInd.html
doc/chapInd.txt
doc/chapInd_mj.html
doc/chooser.html
doc/fining.aux
doc/fining.bbl
doc/fining.blg
doc/fining.brf
doc/fining.idx
doc/fining.ilg
doc/fining.ind
doc/fining.log
doc/fining.out
doc/fining.pnr
doc/fining.tex
doc/fining.toc
doc/lefttoc.css
doc/manual.js
doc/manual.lab
doc/manual.pdf
doc/manual.six
doc/nocolorprompt.css
doc/ragged.css
doc/rainbow.js
doc/times.css
doc/toggless.css
doc/toggless.js
tst/output/*
doc/output/filtergraph.dot
examples/output/*
tmp
tmp.json
