Jan De Beule <jan@debeule.eu>
Jan De Beule <jan@debeule.eu> <16762220+jdebeule@users.noreply.github.com>
Jan De Beule <jan@debeule.eu> <jdebeule@iMac-El-Capitan.local>
Jan De Beule <jan@debeule.eu> <jdebeule@cage.ugent.be>
Jan De Beule <jan@debeule.eu> <jdebeule@sterfpmc219.vub.ac.be>
Jan De Beule <jan@debeule.eu> <jdebeule@MacBook-Air-van-Jan.local>
Jan De Beule <jan@debeule.eu> <jdebeule@ext-108-166.eduroam.rwth-aachen.de>
Jan De Beule <jan@debeule.eu> <jdebeule@vpna217.ugent.be>

Michel Lavrauw <60788757+mlavrauw@users.noreply.github.com>
Michel Lavrauw <60788757+mlavrauw@users.noreply.github.com> <lavrauw@cad1ff72-ff0d-0410-86b8-a9a671acccbc>
Michel Lavrauw <60788757+mlavrauw@users.noreply.github.com> <mlavrauw@Michels-iMac-Pro.local>
Michel Lavrauw <60788757+mlavrauw@users.noreply.github.com> <ml@Michels-MacBook.local>
Michel Lavrauw <60788757+mlavrauw@users.noreply.github.com> mlavrauw <>

John Bamberg <john.bamberg@uwa.edu.au>
John Bamberg <john.bamberg@uwa.edu.au> <John.Bamberg@uwa.edu.au>
John Bamberg <john.bamberg@uwa.edu.au> <bamberg@cad1ff72-ff0d-0410-86b8-a9a671acccbc>

Philippe Cara <pcara@vub.ac.be>
Philippe Cara <pcara@vub.ac.be> <cara@cad1ff72-ff0d-0410-86b8-a9a671acccbc>

Max Neunhöffer <neunhoef@cad1ff72-ff0d-0410-86b8-a9a671acccbc>
